#bvideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.content{
    position: fixed;
    right: 0%;
    bottom: 0%;
    min-width: 100%;
    min-height: 100%;
}
#myBtn:hover{
    background: #ddd;
    color: black;
    background-position-x: center;
}
.cnt{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 10px;
}
#bg{
    background-image: url(img/line.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    /* width: 300px; */
}